npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.github
.gitignore
README.md
LICENSE
dist
imgs

backend/.vscode
backend/.data
backend/.profile/
backend/foamzou
backend/node_modules
backend/bin/*

frontend/node_modules
frontend/.vscode

